<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tanga Mini Ilova</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="app">
    <header>
        <h1>🪙 Tanga</h1>
        <p id="user_id"></p>
    </header>

    <section class="balance">
        <h2>Umumiy balans</h2>
        <p id="balance">0</p>
    </section>

    <div class="buttons">
        <button onclick="addCoins()">+100 Tanga olish</button>
        <button onclick="mine()">⛏ Mayning</button>
    </div>

    <footer>
        <p>© 2025 Tanga Mini Ilova</p>
    </footer>
</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
